<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FCC: Timestamp API</title>
    <meta name="description" content="An API to recive a json object of unix and utc time format">
    <link id="favicon" rel="icon" href="https://cdn4.iconfinder.com/data/icons/eldorado-building/40/arch-512.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|ZCOOL+XiaoWei" rel="stylesheet"> 
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        FCC: Timestamp API
      </h1>
    </header>

    <main>
      <p>This is an FCC project. It is an API which responds with a JSON of the UNIX and UTC format of the date string provided in the URL.</p>
      <ul>
        <li></li>
      </ul>
</body>
</html>
