/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  background-color: #333;
  color: #ddd;
}

header {
  font-family: 'ZCOOL XiaoWei', serif;
}

header h1 {
  padding: 1rem 1rem 0 1rem;
}

main {
  font-size: 1rem;
  text-align: left;
  padding: 1rem 2rem;
  max-width: 800px;
  margin: auto;
}

main p {
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: 2rem; 
}

footer {
  margin: auto;
  max-width: 800px;
  padding: 0 3rem;
  text-align: right;
}