/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  background-color: #333;
  color: #ddd;
}

header {
  font-family: 'ZCOOL XiaoWei', serif;
}

header
